<mat-card>
  <mat-card-header>
    <mat-card-title>
      Secondary-, Named-, Auxilary-Routes
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button
      mat-raised-button
      [routerLink]="['', { outlets: { sidebaroutlet: 'showeditor' } }]"
    >
      Show Editor
    </button>

    <button
      mat-raised-button
      [routerLink]="['', { outlets: { sidebaroutlet: 'showuploader' } }]"
    >
      Show Uploader
    </button>
  </mat-card-content>
</mat-card>
