<mat-card>
  <mat-card-header>
    <mat-card-title>Edit</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center start">
    <form [formGroup]="form" (ngSubmit)="saveForm(form)" novalidate>
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      <em
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].errors != undefined
        "
      >
        Name is required
      </em>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Calories"
          formControlName="calories"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>
