<mat-card>
  <mat-card-header>
    <mat-card-title>
      Edit
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter name"
        [(ngModel)]="person.name"
        [disabled]="!editMode"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Enter age"
        [(ngModel)]="person.age"
        [disabled]="!editMode"
      />
    </mat-form-field>
    <div fxLayout="row">
      <label>Gender</label>
      <input
        type="radio"
        value="male"
        name="gender"
        [(ngModel)]="person.gender"
      />
      Male
      <input
        type="radio"
        value="female"
        name="gender"
        [(ngModel)]="person.gender"
      />
      Female
    </div>
    <button mat-raised-button (click)="doSave()">Save</button>
  </mat-card-content>
</mat-card>
